/app-logs-collect-web/app-logs-collect-web.iml
/app-es-client/app-es-client.iml
/app-analyze-common/app-analyze-common.iml
/app-python-web/app-python-web.iml
/app-statistics-project.iml
.idea/.gitignore
.idea/.name
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scala_compiler.xml
.idea/vcs.xml
app-es-client/app-es-client.iml
app-logs-phone/app-logs-phone.iml
venv/
app-es-client.iml
/.idea/
